.adress__link {
  text-decoration: none;
  color: var(--header-text-color);
  width: 233px;
  display: inline-block;

  &:not(:last-child) {
  margin-bottom: 9px;
  }
}

.footer__link {
  text-decoration: none;
  color: var(--header-text-color);

  @include font($lh:1.14,); 
  opacity: 0.6;
}
