.footer__wrapper {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    width: 50%;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    width: auto;
    margin-right: 70px;
  }
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;

  @include font($fw: 700, $fs: 26px, $lh: 1.2, $ls: 0.03em);
}

.adres {
  margin-bottom: 9px;
}

.adress__link {
  text-decoration: none;
  color: var(--header-text-color);
  width: 233px;
  display: inline-block;
}

.footer__link {
  text-decoration: none;
  color: var(--header-text-color);

  @include font($fw: 400, $fs: 14px, $lh: 1.17, $ls: 0.03em);
  opacity: 0.6;
}
