.main-title {
  box-sizing: border-box;
  max-width: 480px;
  margin: 0 auto;
  background-color: var(--footer-background);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  @media screen and (min-width: 768px) {
  max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url(../images/hero/hero2x.jpg);
  }

     @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-tablet.jpg);  }

      @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url(../images/hero/hero-tablet2x.jpg);}

     @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-desktop.jpg);}

     @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url(../../images/hero/hero-desktop2x.jpg);}
  
}

.main-title__text {
  max-width: 360px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;

  @include font($fw:900, $fs:26px, $lh:1.6, $ls:0.06em );
  color: var(--header-text-color);
  text-transform: uppercase;

   @media screen and (min-width: 1200px) {
     max-width: 696px;
      @include font($fw:900, $fs:44px, $lh:1.36, $ls:0.06em );}
}

.main-title__button {
  display: block;
  border: 1px solid var(--acent-text-colo);
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 32px;

  align-items: center;
  text-align: center;

  background-color: var(--acent-text-color);
  color: var(--header-text-color);

  @include font($fw:700, $fs:16px, $lh:1.2, $ls:0.06em );
  cursor: pointer;
}