.mob-menu{
    position: absolute;
    position: fixed;
    z-index: 5;
    background-color: var(--header-text-color);
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    .container{
      height: 100%; 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.header-button__close{
    // display: block;
    // margin-left: auto;
     display: flex;
  position: fixed;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 50%;
  background-color: var(--header-text-color);

  justify-content: center;
  cursor: pointer;

  transition: fill 250ms var(--timing-funcshion); 

  &:focus,
  &:hover{
  fill: var(--acent-text-color);
  }
   
}

.mob-menu__item{
 &:not(:last-child){
     margin-bottom: 32px;
 }   
}

.mob-menu__link{
    color: var(--logo-text-color);
    @include font($fw:500,$fs:40px,$lh:1.05, $ls:0.02em ); 
}

.mob-menu__auht-list{
 margin-bottom: 64px;
}

.mob-menu__auht-item{
    &:not(:last-child){
     margin-bottom: 32px;
 }    
}

.mob-menu__auht-link{
  color: var(--secondary-text-color);
  @include font($fw:500,$fs:24px,$lh:1.16, $ls:0.02em );  
}

.mob-menu__social-list {
    display: flex;
    flex-wrap: wrap;
}
.mob-menu__social-item {
       &:not(:last-child){
     margin-right: 20px;
 }    
}
.mob-menu__social-link {
 color: var(--acent-text-color);
 @include font($fw:500,$fs:18px,$lh:1.2, $ls:0.02em ); 
}